:root {
    /*--bs-primary: red !important;*/
}

.text-primary {
    /*color: #15aabf !important;*/
}

.bg-verde {
    background-color: #12b886;
}

.bg-rojo {
    background-color: #fa5252;
}

.navbar-custom {
}

.navbar-brand {
    font-weight: 700;
    color: rgba(var(--bs-primary-rgb)) !important;
}

.nav-link,
.nav-link i {
    color: #444;
    font-weight: 600;
    border-bottom: 4px solid transparent;
}

    .nav-link i {
        border-bottom: none;
    }

    .nav-link:hover {
        color: black !important;
        border-bottom: 4px solid rgba(var(--bs-primary-rgb));
    }

    .nav-link.active,
    .nav-link.active i {
        font-weight: 700 !important;
        /*color: #15aabf !important;*/
        color: rgba(var(--bs-primary-rgb)) !important;
    }

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #efefef;
    color: #222222;
}

/* NAVBAR */

/* PAGINA JUGADOR VS JUGADOR */

.versus-victoria {
    color: #12b886;
}

.versus-derrota {
    color: #fa5252;
}

.versus-card-jugador {
    /*background-color: #232e3e;*/
    color: white;
}

.versus-card-jugador {
    color: #666;
}


    .versus-card-jugador h5 {
        color: #555;
    }

    .versus-card-jugador p {
        display: flex;
        justify-content: space-between;
    }
